
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @book do |f| %>
    <%= f.error_messages %>
      

    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <%= f.label :author_first_name %><br>
    <%= f.text_field :author_first_name %><br>

    <%= f.label :author_last_name %><br>
    <%= f.text_field :author_last_name %><br>


    <%= f.fields_for :reviews do |rf| %>
    <%= rf.label :review %><br>
    <%= rf.text_area :content %>
    <% end %><br><br>

    <%= f.submit "Send", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>

<br>
<% if @book.errors.any? %>
<p> Your form could not be saved because : <p>
  <%= @book.errors.full_messages %>
<% end %>