<br>
<h1>Book Title : <%= @book.title %></h1><br>
<h3> Author Last name : <%= @book.author_last_name %></h3>
<h3>Author First name : <%= @book.author_first_name %></h3>
<h3>Genre : <%= @book.genre_name %></h3>
<% @book.reviews.each do |rv| %>
<br><h3>Review by: <%= rv.user.name %><h3>
<h3>Review : <%= rv.content %></h3><br>
 <%= link_to "Edit", edit_book_path(@book) %>


<% end %>